<!DOCTYPE html>
<html  class="no-js">
    {% block head %}
        <!--[if lt IE 7]>
        <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
        <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
        <!--[if IE 8]>
        <html class="no-js lt-ie9"> <![endif]-->
        <!--[if gt IE 8]><!-->
        <!--<![endif]-->
        <head>
            {% block meta %}
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>{{ site.title }}</title>
                <meta name="description" content="{{ site.description }}">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="pingback" href="{{ site.pingback_url }}"/>
            {% endblock meta %}
            {% block links %}
                {{ function ("wp_head") }}
                <link rel="stylesheet" href="{{ parent_theme_url }}/fonts/fontawesome/css/font-awesome.min.css"/>
                <link rel="stylesheet" href="{{ theme_url }}/css/bootstrap-styles.css"/>
                <link rel="stylesheet" href="{{ theme_url }}/css/stylesheet.css"/>
                <link rel="stylesheet" href="{{ theme_url }}/css/sg.css">
                <link rel="stylesheet" href="{{ parent_theme_url }}/fonts/open-sans/stylesheet.css"/>
                <!--polymer components-->
                <!--<link rel="import" href="{{theme_url}}/package/core-icons/core-icons.html" />-->
                <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" href="{{ theme_url }}/style.css">
                <!--polymer webcomponents-->
                <!--<script type="text/javascript" src="{{theme_url}}/package/webcomponentsjs/webcomponents.min.js"></script>-->
                <!--<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>-->
            {% endblock links %}
        </head>
    {% endblock head %}
    <body class="{{ body_class }}">
        <div id="page">
            {% block top_nav %}
                <nav>
                    <!--<div data-ng-include="top_nav"></div>-->
                    <div class="container">

                        <div class="navbar navbar-fixed-top trans-all" role="navigation">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                            data-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="{{ site_url }}">
                                        <img src="{{ theme_url }}/images/pwc-web-logo.png" alt="logo"/>
                                    </a>

                                    <!--                                    <p class="navbar-text lead fonts crete">Panhandle Warrior Connection</p>-->
                                </div>
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active">
                                            <a href="#">Home <span class="sr-only">(current)</span></a></li>
                                        <li><a href="{{site_url}}/about-us">About Us</a></li>
                                        <!--<li><a href="{{site_url}}/media">Media</a></li>-->
                                        <li><a href="{{site_url}}/events">Events</a></li>
                                        <li><a href="{{site_url}}/meet-our-staff">Staff</a></li>
                                        <li><a href="{{site_url}}/volunteer">Get Involved</a></li>
                                        <li><a href="{{site_url}}/contact-us">Contact</a></li>
                                        <!--<li><a href="{{site_url}}/register">Register</a></li>-->
                                        <li><a href="{{site_url}}/resources">Resources</a></li>
                                    </ul>

                                </div>
                                <!--/.navbar-collapse -->
                            </div>
                        </div>
                    </div>
                </nav>
            {% endblock top_nav %}
            {% block header %}
                <header>
                    <div class="container">
                        <div class="row">                
                            <div class="t-wrapper">

                                <div class="title-bars">
                                    <div class="col-sm-12 text-center">
                                        <!--                                        <span class="lead fonts crete">
                                                                                    <i class="fa fa-check-circle"></i> Take the Warrior Survey </span>-->
                                        <span class="lead-off fonts crete">
                                            Total Warriors Assisted: 1253, 
                                            Warriors Employed: 181, 
                                            Warriors Enrolled in VA Healthcare: 334, 
                                            Warrior using education benefits: 227.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock header %}
            <div id="trigger"></div>
            {% block main_menu %}


            {% endblock %}               

            {% block mission %}
                <section id="mission">
                    <div class="container ccode-">
                        <div class="row features">
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <aside class="text-center">
                                    <h1 class="xlarge">
                                        <span>
                                            <core-icon class="svg-icon" icon="stars">

                                            </core-icon>
                                        </span>
                                        <br />
                                        Our Mission Statment!
                                    </h1>

                                    <p class="text-center lead">
                                        PWC’s mission is to ensure every Warrior throughout Florida’s 1st Congressional District has greater access to benefits and housing; use of the G.I. Bill for education; and the opportunity and skills necessary to engage in meaningful employment.
                                    </p> 
                                </aside>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <aside class="text-center lead">
                                    <h1 class="xlarge">
                                        <span>
                                            <core-icon class="svg-icon" icon="explore">

                                            </core-icon>
                                        </span>
                                        <br />
                                        What we Do!</h1>

                                    <p class="text-center lead">
                                        Connect: Find and Link Warriors to the PWC network of resources. 
                                        Educate: Inform Warriors of services and opportunities available to them
                                        Advocate: Ensure Warriors receive the support they earned
                                        Collaborate: Work with partners on all levels to facilitate total warrior care
                                    </p>
                                </aside>
                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}
            {% block pinwheel %}

            {%  endblock %}
            {% block features %}
                <section id="features">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 blue-bg">
                                <article>
                                    <h1 class="large">
                                        <!--<core-icon class="ftr" icon="stars"></core-icon>-->
                                    </h1>
                                    <button class="btn btn-lg btn-success">
                                        <span class="large">Free News Warrior Connection Letter. Sign up Now</span>
                                    </button>
                                    <p>Sign Up for our free Newsletter and get latest news and updates</p>

                                </article>

                            </div>
                        </div>
                    </div>
                </section>
            {% endblock features %}
            {% block articles %}
                <section id="articles"></section>
                {% endblock  articles %}
            <main>
                {% block main %}
                    <div class="container">
                        <div class="row">
                            {% block postcontent %}
                                <div class="col-md-8">
                                    {% block content %}
                                        <div class="post">
                                            <!--articles-->
                                            <article class="">
                                                <h1><i class="fa fa-star"></i>A Sample Article</h1>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi autem
                                                    beatae
                                                    consectetur delectus dolores eos excepturi expedita explicabo facere iure
                                                    laudantium
                                                    maxime mollitia nulla pariatur quidem ratione recusandae rem repellat
                                                    repudiandae sequi,
                                                    sit velit veritatis voluptatem voluptatum? Consectetur ea facere illum in
                                                    molestiae nam
                                                    nisi porro provident quaerat ratione rerum sed suscipit, totam velit vitae. Ad
                                                    excepturi
                                                    tempore voluptatum. <span class="read-more"><a href="#">Full Story <i
                                                                class="fa fa-angle-double-right"></i></a></span></p>
                                                <!-- ngInclude: c.post_meta -->

                                                <aside class="post-meta">
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-angle-double-right"></i> Date:</li>
                                                        <li><i class="fa fa-angle-double-right"></i> Tags:</li>
                                                        <li><i class="fa fa-angle-double-right"></i> Comments:</li>
                                                    </ul>
                                                </aside>
                                            </article>

                                            <!--articles-->
                                            <article class="">
                                                <h1>A Sample Article</h1>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi autem
                                                    beatae
                                                    consectetur delectus dolores eos excepturi expedita explicabo facere iure
                                                    laudantium
                                                    maxime mollitia nulla pariatur quidem ratione recusandae rem repellat
                                                    repudiandae sequi,
                                                    sit velit veritatis voluptatem voluptatum? Consectetur ea facere illum in
                                                    molestiae nam
                                                    nisi porro provident quaerat ratione rerum sed suscipit, totam velit vitae. Ad
                                                    excepturi
                                                    tempore voluptatum. <span class="read-more"><a href="#">Full Story <i
                                                                class="fa fa-angle-double-right"></i></a></span></p>
                                                <!-- ngInclude: c.post_meta -->

                                                <aside class="post-meta">
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-angle-double-right"></i> Date:</li>
                                                        <li><i class="fa fa-angle-double-right"></i> Tags:</li>
                                                        <li><i class="fa fa-angle-double-right"></i> Comments:</li>
                                                    </ul>
                                                </aside>
                                            </article>

                                            <!--articles-->
                                            <article class="">
                                                <h1>A Sample Article</h1>

                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi autem
                                                    beatae
                                                    consectetur delectus dolores eos excepturi expedita explicabo facere iure
                                                    laudantium
                                                    maxime mollitia nulla pariatur quidem ratione recusandae rem repellat
                                                    repudiandae sequi,
                                                    sit velit veritatis voluptatem voluptatum? Consectetur ea facere illum in
                                                    molestiae nam
                                                    nisi porro provident quaerat ratione rerum sed suscipit, totam velit vitae. Ad
                                                    excepturi
                                                    tempore voluptatum. <span class="read-more"><a href="#">Full Story <i
                                                                class="fa fa-angle-double-right"></i></a></span></p>
                                                <!-- ngInclude: c.post_meta -->

                                                <aside class="post-meta">
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-angle-double-right"></i> Date:</li>
                                                        <li><i class="fa fa-angle-double-right"></i> Tags:</li>
                                                        <li><i class="fa fa-angle-double-right"></i> Comments:</li>
                                                    </ul>
                                                </aside>
                                            </article>
                                        </div>
                                    {% endblock content %}
                                </div>

                                <div class="col-md-4">
                                    <div class="sidebar">

                                        {{ sidebars.sidebar }}
                                        {{ sidebars.secondary }}

                                    </div>
                                </div>
                            {% endblock postcontent %}

                        </div>

                    </div>
                {% endblock main %}
            </main>
            {% block footer %}
                <footer>

                    <div class="container">


                        <div class="row">
                            <div class="col-md-8 info">
                                <aside>
                                    <h1>Made Possible By</h1>

                                    <p>
                                        Panhandle Warrior Connection’s mission is to help veterans, military and their families in any way we possibly can. If you need assistance, please send us a message and we’ll do everything in our power to help. We specialize in cutting through bureaucracy and solving problems. We know the system. Let us know how we can put our resources to work for you.

                                    </p>
                                </aside>

                            </div>
                            <div class="col-md-2 info">

                                {{ sidebars.footer_links }}

                            </div>

                            <div class="col-md-2 info">
                                <aside>
                                    {{ sidebars.contact_us }}                        
                                </aside>
                            </div>


                        </div>

                        {% block footer_line %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="text-center">
                                        <ul class="social list-inline ng-scope">
                                            <li>
                                            <a href="www.twitter.com/panhandle2015" target="_blank">    <i class="fa fa-twitter-square"></i></a>
                                            </li>
                                            <li>
                                            <a href="http://www.facebook.com/panhandlewarriorconnection" target="_blank">    <i class="fa fa-facebook-square"></i></a>
                                            </li>
                                            <li>
                                            <a href="http://www.instagram.com/panhandlewarriorconnection" target="_blank">    <i class="fa fa-instagram"></i></a>
                                            </li>
                                        </ul>
                                    </span>

                                    <div class="col-sm-12">
                                        <p class="text-center">© SG.Kit 2013 <!-- ngInclude: e.social --></p>
                                    </div>
                                </div>
                            </div>
                        {% endblock footer_line %}

                    </div>


                </footer>
            </div>
            <!--data-->

            <div id="top-link">
                <a href="#page"><i class="fa fa-chevron-circle-up"></i></a>
            </div>
            {% block scripts %}


                <!-- /container -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

                <!-- inject:js -->

                <script src="{{ parent_theme_url }}/js/vendor/bootstrap.min.js"></script>
                <!-- endinject-->


                <script src="{{ parent_theme_url }}/js/main.js"></script>
                <script src="{{ theme_url }}/package/waypoints/lib/jquery.waypoints.min.js"></script>
                <script src="{{ theme_url }}/js/theme.js"></script>

            {% endblock scripts %}
            {{ function('wp_footer') }}

        {% endblock footer %}
    </div>
</body>
</html>
